.nav-section .navbar-expand-md{
    border-bottom: 1px solid #E5E9F2;  
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: blue;
}
.bg-coral{
    background-color:coral;
}
.bg-brown{
    background-color: brown;
}
.bg-cblue{
    background-color: cornflowerblue;
}
.bg-colors{
    background-color: #FFE3C1;
}
.mt-75{
    margin-top: 75px;
}
.font-size{
    font-size: 18px;
}
.collapse ul{
    margin-left: auto;
}
.collapse ul a{
    margin-right: 10px;
    font-weight: bold;
}
.collapse .btn{
    color: white;
}
.jumbotron .jumbotron-text{
    margin-top: 93px;
    margin-bottom: 93px;
}
.text-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-padding{
    padding-top: 70px;
    padding-bottom: 70px;
}
.collapse ul button{
    border: none;
    background: #F29E38;
    padding: 10px 20px;
}
.jumbotron{
    overflow: hidden;
}
.jumbotron-section{
  background-image: url(../images/PurpleCircle.png);
 background-repeat: no-repeat;
 background-position: 100% 0%;
 background-size: 40%;
}
.jumbotron .circle{
    position: relative;
}
.jumbotron .circle .cards2{
    transform: translate(30px, 0px) rotate(-35deg)!important;
}
.jumbotron .circle .cards1{
    width: 382px;
    height: 210px;
    display: flex;
    position: absolute;
    top: 97px;
    transform: translate(80px, 30px) rotate(-20deg);
    box-shadow: 48px 24px 48px rgba(24, 37, 56, 0.12);
}
.jumbotron .circle .cards-img{
    width: 164px;
    background-color: lightsteelblue;
}
.jumbotron .circle .cards-img h6{
    text-align: center;
    margin: 10px 0;
    line-height: 27px;
    font-size: 16px;
}
.jumbotron .circle .cards1 .card-title{
    margin-top: 18px;
    margin-left: 13px;
}
.jumbotron .circle .cards1 .card-title i{
    margin-right: 10px;
    color: blue;
}
.jumbotron .circle .cards1 .card-title-section{
    background: white;
    width: 261px;
}
.jumbotron .circle .cards1 .card-title-section .card-logo{
    display: flex;
    justify-content: center;
    margin-top: 24px; 
}
.jumbotron .circle .cards1 .card-title-section .card-logo .icon{
    width: 29px;
    height: 29px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}
.jumbotron .circle .cards1 img{
    width: 111px;
    height: 111px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 21px;
} 
.jumbotron h1{
    font-size: 57px;
    font-weight: 800;
    line-height: 80px;
}
.jumbotron .jumbotron-text .btn{
    color: #F29E38;
    border: 1px solid #F29E38;
    padding: 10px 20px;
}
.jumbotron .jumbotron-text .btn:hover{
    color: white;
    border: 1px solid #F29E38;
    background-color: #F29E38;
}
.why-qliq-section{
    overflow: hidden;
}
.why-qliq-section .container .row{
    overflow: hidden;
}
.why-qliq-section .qliq-image-section{
    position: relative;
    margin-left: -410px;
    transition: 1s linear;
} 
.why-qliq-section .qliq-image-section .vector{
    position: absolute;
    z-index: -1;
    transform: translate(-130px, 300px) rotate(-12deg);
}
.why-qliq-section .qliq-image-section .vector1{
    position: absolute;
    z-index: -1;
    transform: translate(-350px, -30px) rotate(-12deg);
}
.why-qliq-section .qliq-text-section{
    position: relative;
    margin-left: 200%;
    height: 456px;
    transition: 1s linear;
} 
.why-qliq-section:hover .qliq-text-section{
    margin-left: 0;
}
.why-qliq-section .qliq-text-section .circle{
    width: 80px;
height: 80px;
border: 1px solid orange;
border-radius: 50%;
position: absolute;
left: 77%;
bottom: 90px;
background-color: orange;
}
.why-qliq-section .qliq-text-section .btn{
    color: white;
    padding: 10px 20px;
    background-color: #F29E38;
    border: 1px solid #F29E38;
}
.bg-color{
    background-color: rgba(226, 234, 254, 0.2);
}
.unique-section{
    overflow: hidden;
}
.unique-section .container .card{
    margin-bottom: 20px;
    padding: 8px;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
}
.unique-section .container .card i{
    margin-bottom: 20px;
    font-size: 55px;
    color: #F29E38;
}
.unique-section .container .card .card-heading{
    font-weight: bold;
    margin-bottom: 25px;
}
.unique-section .container .heading::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 93px;
    height: 3px;
    background-color: #F29E38;
    transform: translate(0px, 50px);
}
.container .heading::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 102px;
    height: 3px;
    background-color: #F29E38;
    transform: translate(0px, 50px);
}
.work-section .work-text1{
    margin-left: 90px;
    padding-top: 34px;
}
.work-section .work-img1 img{
    width: 291px;
    margin-left: 70px;
}
.work-section .work-img2 img{
    width: 180px;
    margin-left: 90px;
    padding-top: 34px;
}
.work-section .work-text2{
    text-align: end;
    margin-right: 90px;
    padding-top: 75px;
    position: relative;
}
.work-section .work-img1{
    position: relative;
}
.work-section .work-img1 div{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-23px, -105px);
    box-shadow: 0px 0px 10px rgba(113, 152, 248, 0.25);
}
.work-section .work-img1 div span{
    color: blue;
    font-size: 26px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.work-section .work-text2 div{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(70px, -105px);
    box-shadow: 0px 0px 10px rgba(113, 152, 248, 0.25);
}
.work-section .work-text2 div span{
    color: blue;
    font-size: 26px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.our-clients-section .colan-img{
    position: absolute;
    transform: translate(2px, 3px);
    z-index: -1;
}
.our-clients-section .carousel .row .box{
   background-color: white;
   text-align: center;
   padding: 23px;
   position: relative;
   border-radius: 10px;
   box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
}
.our-clients-section .carousel .row .box::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: translate(4px, 13px) rotate(45deg);
}
.our-clients-section .carousel .row .jane{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.our-clients-section .carousel .row .jane img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 20px;
}
.our-clients-section .carousel-indicators{
    bottom: -36px;
}
.carousel-indicators [data-bs-target]{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%!important;
    border: 2px solid orange!important;
}
.our-clients-section .carousel-control-prev img{
    width: 50px;
    position: absolute;
    left: -38px;
}
.our-clients-section .carousel-control-next img{
    width: 50px;
    position: absolute;
    right: -38px;
}
.get-deals-section{
    overflow: hidden;
}
.get-deals-section .get-deals-text{
    margin-top: 95px;
    margin-bottom: 95px;
    padding: 10px 0;
}
.get-deals-section .get-deals-text h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 18px;
}
.get-deals-section .get-deals-text p{
    font-size: 20px;
}
.get-deals-section .get-circle{
    position: relative;
}
.get-deals-section .main-circle{
    width: 468px;
    height: 467px;
    border: 1px solid #F1E4FF;
    border-radius: 50%;
    transition: .5s ease-in-out; 
}
.get-deals-section:hover .main-circle{
    rotate: 30deg;
}
.get-deals-section .child-circle{
    width: 320px;
    height: 320px;
    border: 60px solid #F1E4FF;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    transition: .5s ease-in-out
}
.get-deals-section:hover .child-circle{
    rotate: -30deg;
}
.get-deals-section .child-circle .img1{
    width: 65px;
    height: 65px;
    transform: translate(67px,-23px);
}
.get-deals-section .child-circle .img2{
    transform: translate(80px, 121px);  
}
.get-deals-section .child-circle .img3{
    transform: translate(-16px, 60px);  
}
.get-deals-section .main-circle .img4{
    width: 65px;
    height: 65px;
    transform: translate(198px,-25px);
}
.get-deals-section .main-circle .img5{
    transform: translate(329px,80px);
}
.get-deals-section .main-circle .img6{
    transform: translate(280px,296px);
}
.get-deals-section .main-circle .img7{
    transform: translate(-7px,434px);
}
.get-deals-section .main-circle .img8{
    transform: translate(-293px,297px);
}
.get-deals-section .main-circle .img9{
    transform: translate(-334px,70px);
}
.manage-cards-section .container .text-section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.manage-cards-section .container .text-section h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 63px; 
}
.manage-cards-section .container .text-section p{
    font-size: 17px;
}
.manage-cards-section .container .button img{
    height: 41px;
    width: 113px;
}
.manage-cards-section .img-section{
    position: relative;
}
.manage-cards-section .img-section .img1{
    width: 230px;
    position: absolute;
    transform: translate(20px, 0px);
}
.manage-cards-section .img-section .img2{
    width: 230px;
    position: absolute;
    transform: translate(259px, 131px);
}
.footer-section{
    color: white;
    background: linear-gradient(180deg, #7198F8 0%, #4063B8 100%);
}
.footer-section h6{
    margin-bottom: 32px;
}
.copy-right-section{
    background-color: #4063B8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    color: white;

}
.footer-section  a{
    color: var(--bs-link-color);
    text-decoration: none;
    margin-bottom: 11px;
    display: block;
    color: white!important;
}
.copy-right-section .icon-section{
    display: flex;
    justify-content: end;
    align-items: center;
}
.copy-right-section .card-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right-section .card-logo a{
    width: 29px;
    height: 29px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 30px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.3);
}
.work-section .work-img1 .circle-1::after{
    content: url("../images/Vector74.png");
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1;
    transform: translate(-39px, 6px);
    
}
.work-section .work-img1.work-img-3{
    margin-top: 81px;
}
.work-section .work-text1.work-text-3{
    padding-top: 100px;
}
.work-section .container .second-row{
    padding-top: 13px;
    padding-bottom: 13px;
}
.our-clients-section .carousel-indicators .active{
    opacity: 1;
    background-color: #F29E38;
}

@media screen and (max-width: 992px) {
    .work-section .work-img1 div {
        transform: translate(35px, -105px);  
    }
    .work-section .work-text2 div {
        transform: translate(128px, -145px);  
    }
    .manage-cards-section .img-section {
        height: 460px;
        margin-top: 25px;
      }
      .get-deals-section .child-circle{
        top: calc(50% - 160px);
        left: calc(34% - 160px);
      }
      .jumbotron .circle{
        height: 440px;
    }
    .jumbotron .circle .cards1{
        width: 307px;
        height: 186px;
        transform: translate(40px, -10px) rotate(-20deg);
    }
    .jumbotron .circle .cards-img{
        width: 139px;
    }
    .jumbotron .circle .cards1 img{
        width: 100px;
        height: 100px;
        margin-top: 9px;
        margin-left: 5px;
    }
    .jumbotron .circle .cards img h6{
        margin: 5px 0;
        line-height: 21px;
    }
    .jumbotron .circle .cards1 .card-title{
        margin-left: 8px;
        font-size: 14px;
    }
    .jumbotron .circle .cards-img h6{
        margin: 3px 0;
        line-height: 22px;
    }
    .jumbotron .circle .cards2{
        transform: translate(7px, -30px) rotate(-32deg)!important;
    }  
  }

  @media screen and (max-width: 768px) {
    .work-section .work-img1 div {
        transform: translate(-80px, 16px);  
    }
    .work-section .work-text2 div {
        transform: translate(-80px, -237px);  
    }
    .work-section .work-img2 img {
        margin-left: 0;  
    }
    .work-section .work-text2 {
        padding-top: 11px;
        margin-right: 0;  
    }
    .work-section .work-text1.work-text-3 {
        padding-top: 34px;  
    }
    .work-section .work-img1 img {
        margin: 0;  
    }
    .work-section .work-img1 .circle-3 {
        transform: translate(-80px, -199px);
    }
    .work-section .work-text1 {
        margin-left: 0;
    }
    .carousel .row .box {
        margin-top: 40px; 
    }
    .get-deals-section .child-circle{
        width: 256px;
        height: 256px;
        border: 34px solid #F1E4FF;
    }
    .get-deals-section .main-circle{
        width: 380px;
        height: 380px;
    }
    .get-deals-section .main-circle .img5 {
        transform: translate(260px,80px);
      }
      .get-deals-section .main-circle .img6 {
        transform: translate(185px,246px);
      }
      .get-deals-section .main-circle .img7 {
        transform: translate(-40px,350px);
      }
      .get-deals-section .main-circle .img8 {
        transform: translate(-281px,256px);
      }
      .get-deals-section .main-circle .img9 {
        transform: translate(-16px,11px);
      }
      .copy-right-section .copy-right-text {
        text-align: center;
      }
      .copy-right-section .icon-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
      }
      .our-clients-section .carousel-control-prev img{
        left: -20px;
    }
    .our-clients-section .carousel-control-next img{
        right: -20px;
    }
    .get-deals-section .child-circle{
        top: calc(58% - 160px);
        left: calc(42% - 160px);
      }
  }
  @media screen and (max-width: 576px) {
    .manage-cards-section .img-section .img1 {
        width: 198px;
        transform: translate(-6px, -24px);  
    }
    .manage-cards-section .img-section .img2 {
        width: 198px;
        transform: translate(180px, 65px);  
    }
    .manage-cards-section .img-section{
        height: 348px;
    }
    .work-section .work-img1 div {
        display: none;  
    }
    .work-section .work-text2 div {
        display: none;  
    }
    .our-clients-section{
        background-position: 100% 12%;
      }
      .our-clients-section .carousel-control-prev img{
        left: 26px;
    }
    .our-clients-section .carousel-control-next img{
        right: 26px;
    }
    .get-deals-section .child-circle{
       top: calc(58% - 160px);
       left: calc(59% - 160px);
    }
    .jumbotron .circle .cards1 .card-title-section .card-logo .icon{
        width: 20px;
        height: 20px;
    }
  }
  .our-clients-section{
    background-image: url(/images/“.png);
    background-repeat: no-repeat;
    background-position: 96% 15%;
  }
  .why-qliq-section:hover .qliq-image-section{
   margin-left: 0;

}
